@page "/Cube"

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="6">
        <MudPaper Outlined="true">
            <h3>Hi</h3>
            This is where a list of Cubes will exist
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    
}